<img src="public/images/blooddonation_logo_banner.png"/>
<ul id="topnavul" class="topnav">
    <check if="@logged_in">
		<true>
            <li><a href="wall">Home</a></li>
		</true>
		<false>
            <li><a href=".">Home</a></li>
		</false>
	</check>
    <li>
        <a href="javascript:void(0)">Know More</a>
        <ul class="subnav">
            <li><a href="facts">Facts</a></li>
            <li><a href="qualification">Qualification</a></li>
            <li><a href="famousquotes">Famous Quote</a></li>
            <li><a href="calculate">Calculate</a></li>
            <li><a href="bloodgroupsystem">Blood Group Systems</a></li>
        </ul>
    </li>
	<check if="@logged_in">
		<true>
			<li><a href="urgent">Urgent Requirement</a></li>
			<li><check if="isset(@type) && @type=='facebook'"><true><a href="#" onclick="FBLogout();"></true><false><a href="logout" onclick="FBLogout();"></false></check>Logout</a></li>
		</true>
		<false>
			<li><a href="login">Login</a></li>
			<li><a href="register">Register</a></li>
		</false>
	</check>
</ul>